Unity Project/Assembly-CSharp-Editor-vs.csproj
Unity Project/Assembly-CSharp-Editor.csproj
Unity Project/Assembly-CSharp-vs.csproj
Unity Project/Assembly-CSharp.csproj
Unity Project/Unity Project-csharp.sln
Unity Project/Unity Project.sln
Unity Project/Unity Project.userprefs

*.DS_Store